:host {
    position: fixed;
    top: 0; left: 0;
    width: max(100vw, 100%); 
    height: max(100vh, 100%);
    background-color: var(--bg-card);
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

header {
    background-color: var(--bg-main);
    padding: 5px;
    border-bottom: 1px solid var(--brd-color-accent);
}

main {
    overflow: hidden;
}